* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* with grid 
.grid {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  height: 64vh;
  width: 64vh;
}
*/

.grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid burlywood;
  height: 60vh;
  width: 60vh;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.5);
}

.row {
  display: flex;
  flex: 1;
}

.column {
  flex: 1;
}

#input {
  margin: 20px;
  width: 200px;
}


/* .slidecontainer {
  margin-top: 2em;
} */


/* .controls {
  display: flex;
  margin: 15px auto;
  gap: 30px;
}

.eraser, .random, .select {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 5px;
} */